/*------------------------------------*\
  Components > Inputs
\*------------------------------------*/

$input-border: #cbcbcb;
$input-border-focused: #999;

.c-input {
  width: 100%;
  outline: none;
  appearance: none;
}
