$font-serif:      'Born', serif;
$font-sans-serif: 'Moderat-Regular', sans-serif;
$font-monospace:  'Courier', monospace;

$font-size-large:   19px;
$font-size-medium:  14px;
$font-size-small:   12px;
$font-size-tiny:    12px;

$font-weight-light:   300;
$font-weight-regular: 400;
$font-weight-bold:    700;


$font-families: (
  'NBAr', 'OLNEYb',
);

