html {
  @include font-size-map($body-font-size);
}

body {
  color: $color-text;
  font-family: $font-sans-serif;
  font-weight: $font-weight-light;
  min-height: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;


*::selection {
  color: $color-white;
  background: $color-brand;
}

&::-webkit-scrollbar {
  width: 0.5em;
}

&::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

&::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
  }

}



::placeholder { /* Firefox, Chrome, Opera */
  // color: $main-color;
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  // color: $main-color;
}

::-ms-input-placeholder { /* Microsoft Edge */
  //  color: $main-color;
}
